{% load static %}
{% with alt_text=alt|default:"Moto Track" img_class=logo_class|default:"h-9 w-auto" img_width=width|default:"220" img_height=height|default:"40" %}
<span class="theme-logo {{ wrapper_class|default:'' }}" data-theme-logo>
  <img
    src="{% static 'brand/svg/moto-track-logo-horizontal-light.svg' %}"
    alt="{{ alt_text }}"
    class="theme-logo-img theme-logo-img-light {{ img_class }}"
    width="{{ img_width }}"
    height="{{ img_height }}"
    loading="{{ loading|default:'eager' }}"
    fetchpriority="{{ fetchpriority|default:'auto' }}"
  />
  <img
    src="{% static 'brand/svg/moto-track-logo-horizontal-dark.svg' %}"
    alt=""
    aria-hidden="true"
    class="theme-logo-img theme-logo-img-dark {{ img_class }}"
    width="{{ img_width }}"
    height="{{ img_height }}"
    loading="{{ loading|default:'eager' }}"
    fetchpriority="{{ fetchpriority|default:'auto' }}"
  />
</span>
{% endwith %}
